@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(librerie.css);

h1,h2,h3,h4,h5,h6 {
	font-family: 'Abel', sans-serif;
}
body {
	padding-top: 50px;
	padding-bottom: 20px;
	height: 100%;
	background-color: #ebeeed;
	color: #424b51;
}

html {
	height: 100%;
}

.login {
	color: #000;
	line-height: 3em;
	font-size: 1.5em;
	background: none;
}

.navbar {
	background-color: #232526;
	height: 5em;
	z-index: 9998;
}

.navbar-inverse .navbar-brand {
	color: #FFFFFF;
	font-family: 'Abel', sans-serif;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #BEBEBF;
	background-color: transparent;
}

.jumbotro {
	background-image: ;
}

.head {
	text-align: center;
}

.navbar-brand {
	height: ;
}

#form1 {
	margin-top: -2em;
	margin-right: 2em;
}

.post {
	background-color: #FFF;
	overflow: hidden;
	box-shadow: 0 0 1px #CCC;
}

.post img {
	filter: blur(2px);
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
}

.post .content {
	padding: 15px;
}

.post .author {
	font-size: 11px;
	color: #737373;
	padding: 25px 30px 20px;
}

.post .post-img-content {
	height: 196px;
	position: relative;
}

.post .post-img-content img {
	position: absolute;
}

.post .post-title {
	display: table-cell;
	vertical-align: bottom;
	z-index: 2;
	position: relative;
}

.post .post-title b {
	background-color: rgba(51, 51, 51, 0.58);
	display: inline-block;
	margin-bottom: 5px;
	color: #FFF;
	padding: 10px 15px;
	margin-top: 5px;
}

.center {
	text-align: center;
}

.divider {
	margin: 20px auto 40px;
	padding-top: 25px;
	width: 440px;
	height: 0;
	border-bottom: 1px solid #E5E5E5;
	line-height: 0;
	color: #B6B6B6;
}

.formwrapper {
	display: block;
	text-align: center;
	width: 500px;
	margin-left: 20em;
}

.userinfo {
	margin-bottom: 3em;
	padding-left: 5em;
	width: 30em;
	height: 5em;
	border: 2px solid #E5E5E5;
	font-size: 1em;
}

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook {
	color: #FFF;
	background-color: #2D4373;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook {
	color: #FFF;
	background-color: #49659F;
	border-color: #636363;
	border-radius: 3px;
	border-width: 1.5px;
	margin-bottom: 1em;
}

.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active, .open > .dropdown-toggle.btn-twitter {
	color: #FFF;
	background-color: #65ACEE;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-twitter {
	color: #FFF;
	background-color: #55ACEE;
	border-width: 1.5px;
	margin-bottom: 1em;
}

.action {
	height: 3em;
	border: none;
	border-radius: 1em;
}

.Footer {
	margin-top: 1em;
	clear: both;
	padding: 10px 0;
	background-color: #232526;
	font-size: 0.875em;
	height: 273px;
}

.Footer .copyright {
	color: #ADAFB1;
	padding: 0 0 0 210px;
}

.Footer .nav .subnav {
	margin: 0;
}

.Footer .list.links {
	height: 40px;
	line-height: 40px;
}

.Footer .nav .list {
	margin-bottom: 20px;
}

.Footer .list:first-child {
	margin-left: 0;
}

.Footer .list.links .item {
	float: left;
	margin: 0 15px;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.vids {
	float: right;
}

.aside {
	background: url('http://cdn-jarvis-ftw.9gaging.com/media/photo/p3gK5P9Wq_360w_v1.jpg') center;
	background-size: cover;
	float: left;
	height: 10em
	width: 10em;
}

video#bgvid {
/*position: fixed; right: 0; bottom: 0;
*/
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(polina.jpg) no-repeat;
margin-top: -10em;
/*background-size: cover;*/
overflow: hidden;
z-index: -1000;
}

.vid {
	margin-top: -50em;
	color: #fff;

}

.divlogin {
	height: 20em;
	color: #fff;
	background-image: url("img/bg.jpg");
	margin-top: 5px;
	width: 100%;
}

p.divlogin {
	margin-top: 20px;
}

.jumbotron {
	margin-bottom: 200px;
}


