footer.Footer
	.container.nav
		.col-md-12
			.col-md-10.subnav
				ul.links.list
					li.item
						a(href='http://youinspireyouth.com/about/') About
					li.item
						a(href='http://youinspireyouth.com/videos/') Videos
					li.item
						a(href='http://youinspireyouth.com/people/') People
					li.item
						a(href='http://blogs.youinspireyouth.com/') Blog
		.col-md-3
			ul.social.list
				li.item.facebook
					a(href='http://facebook.com/youinspireyouth', target('_BLANK')) facebook
				li.item.twitter
					a(href='http://twitter.com/youinspireyouth', target('_BLANK')) twitter
				li.item.youtube
					a(href='http://youtube.com/youinspireyouth', target('_BLANK')) youtube
		.col-md-4.copyright 
			|© 2015 You Inspire Youth. Designed by Aaron Lo, Developed by Makrand Gulpa
