include partials/header.jade
include partials/nav.jade
body
	.container
		h2
			|Welcome to our Video Archive
		p
			|You’ve	come	to	the	right	place	for	your	dose	of	inspiration! We have the	best inspirational videos from the web and	
			|from YOU	through	our	own	productions.
		.row
			.col-sm-8
				.col-sm-3
					.aside
				.col-sm-5
					h1
						|Hey this is video 1
					p.
						lorem ipsum
						sum

include partials/footer.jade